/*! Made with Bones: http://themble.com/bones :) */
/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/
/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/
/* line 1, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 18, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 21, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* remember to define focus styles! */
/* line 29, ../scss/_reset.scss */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
/* line 34, ../scss/_reset.scss */
ins {
  text-decoration: none;
}

/* line 37, ../scss/_reset.scss */
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 42, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* screen.css 
-------------- */
/* basics */
/* line 12, ../scss/_theme.scss */
html {
  -webkit-text-size-adjust: auto;
}

/* line 14, ../scss/_theme.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  color: #333333;
  background: #ffffff;
}

/* line 22, ../scss/_theme.scss */
html > body {
  font-size: 10px;
}

/* line 24, ../scss/_theme.scss */
.clear {
  clear: both;
}

/* text */
/* line 30, ../scss/_theme.scss */
h1, h2, h3, h4, h5, caption, input, option, select {
  font-weight: normal;
}

/* line 34, ../scss/_theme.scss */
h1, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* line 38, ../scss/_theme.scss */
h1 {
  font-size: 3em;
  letter-spacing: -1px;
}

/* line 43, ../scss/_theme.scss */
h2 {
  font-size: 2.4em;
  letter-spacing: -1px;
}

/* line 48, ../scss/_theme.scss */
h3 {
  font-size: 1.8em;
  line-height: 130%;
}

/* line 53, ../scss/_theme.scss */
h4 {
  font-size: 1.6em;
}

/* line 57, ../scss/_theme.scss */
h5 {
  font-size: 1.4em;
}

/* line 61, ../scss/_theme.scss */
p {
  font-size: 1.2em;
  line-height: 140%;
}

/* line 66, ../scss/_theme.scss */
ul, ol {
  font-size: 1.3em;
  line-height: 130%;
}

/* line 71, ../scss/_theme.scss */
.floatright {
  float: right;
}

/* line 75, ../scss/_theme.scss */
.floatleft {
  float: left;
}

/* links */
/* line 83, ../scss/_theme.scss */
a:link, a:visited {
  color: #aad36d;
  text-decoration: none;
}

/* line 88, ../scss/_theme.scss */
a:hover, a:active {
  color: #006600;
  text-decoration: none;
}

/* general page */
/* line 96, ../scss/_theme.scss */
#t {
  width: 100%;
  background-color: #aad36d;
  background: url("/wp-content/themes/bones-master/library/images/bk-t.gif") #aad36d repeat-x left bottom;
}

/* line 103, ../scss/_theme.scss */
.wrap {
  width: 760px;
  margin: 0 auto;
  overflow: hidden;
  height: 1%;
  padding: 20px;
}

/* line 111, ../scss/_theme.scss */
#t .wrap {
  padding-bottom: 0;
}

/* line 115, ../scss/_theme.scss */
.wrap h3, .wrap p {
  margin-bottom: 20px;
}

/* line 121, ../scss/_theme.scss */
#nav {
  height: 30px;
  float: right;
  width: 560px;
  margin-top: 85px;
}

/* line 128, ../scss/_theme.scss */
#nav ul {
  float: left;
}

/* line 132, ../scss/_theme.scss */
#nav li {
  float: left;
  text-indent: -999em;
}

/* line 138, ../scss/_theme.scss */
#nav li a {
  display: block;
  width: 110px;
  height: 30px;
  background-image: url("/wp-content/themes/bones-master/library/images/nav.gif");
  margin-left: 2px;
}

/* line 147, ../scss/_theme.scss */
.nav-home a {
  background-position: 0 0;
}

/* line 151, ../scss/_theme.scss */
.nav-home a:hover {
  background-position: 0 -30px;
}

/* line 155, ../scss/_theme.scss */
#home .nav-home a {
  background-position: 0 -60px;
}

/* line 159, ../scss/_theme.scss */
.nav-about a {
  background-position: -110px 0;
}

/* line 163, ../scss/_theme.scss */
.nav-about a:hover {
  background-position: -110px -30px;
}

/* line 167, ../scss/_theme.scss */
#about .nav-about a {
  background-position: -110px -60px;
}

/* line 171, ../scss/_theme.scss */
.nav-faq a {
  background-position: -220px 0;
}

/* line 175, ../scss/_theme.scss */
.nav-faq a:hover {
  background-position: -220px -30px;
}

/* line 179, ../scss/_theme.scss */
#faq .nav-faq a {
  background-position: -220px -60px;
}

/* line 183, ../scss/_theme.scss */
.nav-services a {
  background-position: -330px 0;
}

/* line 187, ../scss/_theme.scss */
.nav-services a:hover {
  background-position: -330px -30px;
}

/* line 191, ../scss/_theme.scss */
#services .nav-services a {
  background-position: -330px -60px;
}

/* line 195, ../scss/_theme.scss */
.nav-contact a {
  background-position: -440px 0;
}

/* line 199, ../scss/_theme.scss */
.nav-contact a:hover {
  background-position: -440px -30px;
}

/* line 203, ../scss/_theme.scss */
#contact .nav-contact a {
  background-position: -440px -60px;
}

/* line 208, ../scss/_theme.scss */
#home .nav-home a, #about .nav-about a, #faq .nav-faq a, #services .nav-services a, #contact .nav-contact a {
  cursor: default;
}

/* line 213, ../scss/_theme.scss */
#m {
  clear: both;
  width: 100%;
  background: url("/wp-content/themes/bones-master/library/images/bk-m.gif") repeat-x left bottom #000000;
}

/* line 219, ../scss/_theme.scss */
#m a:link, #m a:visited {
  color: #aad36d;
}

/* line 223, ../scss/_theme.scss */
#m a:hover {
  color: #ffffff;
}

/* line 227, ../scss/_theme.scss */
#m .wrap p {
  font-size: 1.4em;
}

/* line 232, ../scss/_theme.scss */
#m .content {
  width: 290px;
  float: left;
}

/* line 237, ../scss/_theme.scss */
#m .content ul {
  color: #eeeeee;
  font-size: 1.4em;
  list-style-type: square;
  margin-left: 30px;
}

/* line 244, ../scss/_theme.scss */
.m-list {
  width: 270px;
  float: left;
  margin: 0 10px 0 10px;
  padding-left: 90px;
  padding-bottom: 20px;
}

/* line 253, ../scss/_theme.scss */
.m-list h3 {
  margin-bottom: 5px;
}

/* line 257, ../scss/_theme.scss */
.m-list ul {
  color: #eeeeee;
  font-size: 1.4em;
  list-style-type: square;
  margin-left: 30px;
}

/* line 265, ../scss/_theme.scss */
dl.gallery {
  margin-top: 10px;
}

/* line 270, ../scss/_theme.scss */
.gallery dt {
  background: url("/wp-content/themes/bones-master/library/images/icon-zoom.gif") no-repeat left 50%;
  padding: 5px 0 5px 20px;
  color: #ffffff;
  margin-right: 5px;
}

/* line 277, ../scss/_theme.scss */
.gallery dd {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 282, ../scss/_theme.scss */
.gallery a {
  padding: 2px 4px;
  background-color: #333333;
  border: 1px solid #000000;
}

/* line 289, ../scss/_theme.scss */
.gallery dt, .gallery dd {
  font-size: 1.3em;
  line-height: 130%;
  float: left;
}

/* line 299, ../scss/_theme.scss */
.recycle {
  background: url("/wp-content/themes/bones-master/library/images/faq-recycle.gif") no-repeat left top;
}

/* line 303, ../scss/_theme.scss */
.quality {
  background: url("/wp-content/themes/bones-master/library/images/faq-quality.gif") no-repeat left top;
  clear: left;
}

/* line 308, ../scss/_theme.scss */
.pest {
  background: url("/wp-content/themes/bones-master/library/images/faq-pest.gif") no-repeat left top;
}

/* line 312, ../scss/_theme.scss */
.frame {
  background: url("/wp-content/themes/bones-master/library/images/faq-frame.gif") no-repeat left top;
}

/* line 316, ../scss/_theme.scss */
#x .content {
  width: 450px;
  float: left;
}

/* line 321, ../scss/_theme.scss */
#faq #x .content dl {
  margin-bottom: 20px;
}

/* line 325, ../scss/_theme.scss */
#faq #x .content dt {
  margin-bottom: 5px;
  font-size: 1.4em;
  line-height: 130%;
  font-weight: bold;
  color: #006600;
}

/* line 333, ../scss/_theme.scss */
#faq #x .content dd {
  font-size: 1.2em;
  line-height: 130%;
}

/* line 338, ../scss/_theme.scss */
#faq #x .content dd span {
  font-weight: bold;
  font-size: 120%;
  text-transform: uppercase;
}

/* line 346, ../scss/_theme.scss */
.column dl {
  width: 370px;
  margin-bottom: 20px;
}

/* line 351, ../scss/_theme.scss */
.column dt {
  font-size: 1.3em;
  line-height: 130%;
  font-weight: bold;
  color: #aad36d;
}

/* line 358, ../scss/_theme.scss */
.column dd {
  font-size: 1.2em;
  line-height: 130%;
  color: #eeeeee;
}

/* line 368, ../scss/_theme.scss */
#m-photo {
  float: right;
  width: 450px;
  height: 260px;
}

/* line 374, ../scss/_theme.scss */
#m h3 {
  color: #aad36d;
}

/* line 378, ../scss/_theme.scss */
#m h3 span {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 383, ../scss/_theme.scss */
#m span.show, #m span.hide {
  text-transform: none;
  font-weight: normal;
}

/* line 388, ../scss/_theme.scss */
h3.slick {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 396, ../scss/_theme.scss */
a#slick-toggle span.show {
  background-color: #333333;
  padding: 5px 10px;
  border: 1px solid #000000;
}

/* line 402, ../scss/_theme.scss */
a#slick-toggle span.hide {
  background-color: #000000;
  padding: 5px 10px;
  border: 1px solid #000000;
}

/* line 409, ../scss/_theme.scss */
#slickbox {
  border-top: 1px solid #333333;
  padding-top: 20px;
  margin-top: 20px;
}

/* line 415, ../scss/_theme.scss */
a#slick-toggle:link, a#slick-toggle:visited {
  color: #aad36d;
}

/* line 422, ../scss/_theme.scss */
#m p {
  color: #eeeeee;
}

/* line 426, ../scss/_theme.scss */
#m p span {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 432, ../scss/_theme.scss */
#m a:hover {
  color: #ffffff;
}

/* line 436, ../scss/_theme.scss */
#x {
  clear: both;
  width: 100%;
  background: url("/wp-content/themes/bones-master/library/images/bk-x.gif") repeat-x 0 0;
}

/* line 442, ../scss/_theme.scss */
#x h3 {
  color: #00000;
}

/* line 446, ../scss/_theme.scss */
#x p.prelude {
  color: #000000;
  font-size: 1.4em;
}

/* line 451, ../scss/_theme.scss */
#x p span {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 456, ../scss/_theme.scss */
#x #formwrap p span {
  font-weight: normal;
  text-transform: none;
}

/* line 461, ../scss/_theme.scss */
.expose {
  width: 330px;
  background: url("/wp-content/themes/bones-master/library/images/bk-corner.gif") no-repeat left top #ffffff;
  padding: 20px;
}

/* line 467, ../scss/_theme.scss */
.expose h3 {
  font-size: 2em;
  color: #006600;
  text-align: center;
  width: 60%;
  line-height: 120%;
}

/* line 475, ../scss/_theme.scss */
.expose ul {
  width: 60%;
  text-align: center;
  margin-bottom: 20px;
}

/* line 481, ../scss/_theme.scss */
.expose p {
  width: 60%;
  margin-left: 40px;
}

/* line 487, ../scss/_theme.scss */
a.link-more {
  background: url("/wp-content/themes/bones-master/library/images/link-more.gif") no-repeat 0 0;
  text-indent: -999em;
  width: 122px;
  height: 27px;
  display: block;
}

/* line 495, ../scss/_theme.scss */
a.link-more:hover {
  background: url("/wp-content/themes/bones-master/library/images/link-more.gif") no-repeat 0 -27px;
}

/* line 500, ../scss/_theme.scss */
.expose-recycle {
  background: url("/wp-content/themes/bones-master/library/images/bk-recycle.gif") no-repeat right top;
}

/* line 504, ../scss/_theme.scss */
.expose-hat {
  background: url("/wp-content/themes/bones-master/library/images/bk-hat.gif") no-repeat right top;
}

/* line 510, ../scss/_theme.scss */
#logo {
  background: url("/wp-content/themes/bones-master/library/images/logo-steelit.gif") no-repeat 0 0;
  height: 95px;
  width: 165px;
  float: left;
}

/* line 517, ../scss/_theme.scss */
h1#logolink a {
  display: block;
  height: 95px;
  width: 165px;
  text-indent: -999em;
  float: left;
}

/* line 525, ../scss/_theme.scss */
.wrap h2 {
  margin-bottom: 15px;
}

/* line 529, ../scss/_theme.scss */
#m h2 {
  color: #aad36d;
}

/* line 533, ../scss/_theme.scss */
#h2-welcome {
  text-indent: -999em;
  background: url("/wp-content/themes/bones-master/library/images/h2-welcome.gif") no-repeat 0 0;
  height: 35px;
}

/* line 539, ../scss/_theme.scss */
#h2-about {
  text-indent: -999em;
  background: url("/wp-content/themes/bones-master/library/images/h2-about.gif") no-repeat 0 0;
  height: 35px;
}

/* line 545, ../scss/_theme.scss */
#h2-services {
  text-indent: -999em;
  background: url("/wp-content/themes/bones-master/library/images/h2-services.gif") no-repeat 0 0;
  height: 35px;
}

/* line 551, ../scss/_theme.scss */
#h2-contact {
  text-indent: -999em;
  background: url("/wp-content/themes/bones-master/library/images/h2-contact.gif") no-repeat 0 0;
  height: 35px;
}

/* line 557, ../scss/_theme.scss */
#h2-faq {
  text-indent: -999em;
  background: url("/wp-content/themes/bones-master/library/images/h2-faq.gif") no-repeat 0 0;
  height: 35px;
}

/* line 563, ../scss/_theme.scss */
#sidebar {
  float: right;
  width: 250px;
  margin-left: 20px;
  background: url("/wp-content/themes/bones-master/library/images/bk-corner.gif") no-repeat left top #ffffff;
  padding: 20px;
}

/* line 571, ../scss/_theme.scss */
#services #sidebar, #about #sidebar {
  padding: 0;
  width: 290px;
  background: none;
}

/* line 577, ../scss/_theme.scss */
#sidebar img {
  margin-bottom: 10px;
}

/* line 583, ../scss/_theme.scss */
#sidebar h4 {
  margin-bottom: 20px;
  color: #000000;
}

/* line 588, ../scss/_theme.scss */
#sidebar h5 {
  color: #006600;
  margin-bottom: 10px;
}

/* line 593, ../scss/_theme.scss */
#sidebar span {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 598, ../scss/_theme.scss */
#sidebar dl {
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
}

/* line 604, ../scss/_theme.scss */
#sidebar dt {
  font-weight: bold;
  color: #006600;
  font-size: 1.3em;
  line-height: 130%;
}

/* line 611, ../scss/_theme.scss */
#sidebar dd {
  font-size: 1.2em;
  line-height: 130%;
}

/* line 618, ../scss/_theme.scss */
#footer {
  clear: both;
  width: 760px;
  margin: 0 auto;
  text-align: center;
}

/* line 625, ../scss/_theme.scss */
#footer p {
  padding: 20px;
  font-size: 1.1em;
}

/* line 630, ../scss/_theme.scss */
#footer p span {
  font-weight: bold;
  text-transform: uppercase;
}

/* =form */
/* line 638, ../scss/_theme.scss */
#formwrap {
  text-align: left;
  width: 450px;
}

/* line 644, ../scss/_theme.scss */
#formwrap p label {
  float: left;
  width: 150px;
}

/* line 649, ../scss/_theme.scss */
#formwrap .fullfield label {
  float: none;
}

/* line 654, ../scss/_theme.scss */
fieldset {
  width: 100%;
  border: 0;
  padding-bottom: 10px;
}

/* line 661, ../scss/_theme.scss */
legend {
  font-size: 2em;
  padding: 5px 5px 5px 0;
  background-color: #ffffff;
  margin: 0;
  display: none;
  float: left;
  text-indent: -999em;
}

/* line 671, ../scss/_theme.scss */
#contactform p label {
  line-height: 150%;
}

/* line 675, ../scss/_theme.scss */
.required {
  color: red !important;
}

/* line 679, ../scss/_theme.scss */
input#city, input#phone, input#address, input#zip, input#email_address, input#name {
  width: 200px !important;
}

/* line 684, ../scss/_theme.scss */
input#submit, input#clear, input#searchsubmit {
  font-size: 12px;
}

/* line 690, ../scss/_theme.scss */
input#submit:hover, input#clear:hover {
  cursor: pointer;
  color: #000;
}

/* line 695, ../scss/_theme.scss */
p input, #s {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  font-weight: normal;
  padding: 1px;
  width: auto !important;
  border: 1px solid #999999;
  margin-bottom: 5px;
}

/* line 706, ../scss/_theme.scss */
input:focus, input#s:focus {
  color: #333333;
  border-color: #333333;
}

/* line 711, ../scss/_theme.scss */
select {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-weight: normal;
  font-size: 12px;
  padding: 1px;
  border: 1px solid #999999;
  margin-bottom: 5px;
}

/* line 722, ../scss/_theme.scss */
textarea {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  padding: 1px;
  width: 350px;
  border: 1px solid #999999;
  margin-bottom: 5px;
}

/* line 732, ../scss/_theme.scss */
textarea:focus {
  border-color: #333333;
  color: #333333;
}

/* line 737, ../scss/_theme.scss */
input#submit, input#clear {
  color: #333333;
  width: auto !important;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  background-color: #cccccc;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 5px !important;
}

/* line 751, ../scss/_theme.scss */
#mmex li {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #000;
  background-color: transparent;
}

/* line 758, ../scss/_theme.scss */
#mmex ul {
  padding-left: 25px;
}

/* line 762, ../scss/_theme.scss */
.error label {
  color: #ffffff;
}

/* line 766, ../scss/_theme.scss */
div.error-container {
  background-color: red;
  margin-bottom: 10px;
  padding: 10px;
}

/* line 773, ../scss/_theme.scss */
.error-container h5 {
  font-size: 1.4em;
  color: #ffffff !important;
  margin-bottom: 10px;
}

/* line 780, ../scss/_theme.scss */
div.error-container ol li {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 1em;
  color: #ffffff !important;
  line-height: 130%;
}

/* line 788, ../scss/_theme.scss */
div.error-container {
  display: none;
}

/* line 792, ../scss/_theme.scss */
.error-container label.error {
  display: inline;
}

/* line 796, ../scss/_theme.scss */
div.error {
  display: none;
}

/* line 800, ../scss/_theme.scss */
input.error, input:focus.error, select.error, select:focus.error, textarea.error, textarea:focus.error {
  border: 1px solid red !important;
}

/* line 805, ../scss/_theme.scss */
span.hide, #slickbox {
  display: none;
}

/* line 807, ../scss/_theme.scss */
input[type="submit"] {
  padding: 5px 10px;
  background: #aad36d;
  color: #000000;
  border: 1px solid #aad36d;
  cursor: pointer;
  font-weight: bold;
}
/* line 814, ../scss/_theme.scss */
input[type="submit"]:hover, input[type="submit"]:active {
  background: #006600;
  color: #ffffff;
  border-color: #006600;
}

/* line 821, ../scss/_theme.scss */
input[type="text"], input[type="tel"], input[type="email"], textarea {
  padding: 5px;
}

/* Preload images */
/* line 2, ../scss/_lightbox.scss */
body:after {
  content: url(/wp-content/themes/bones-master/library/images/close.png) url(/wp-content/themes/bones-master/library/images/loading.gif) url(/wp-content/themes/bones-master/library/images/prev.png) url(/wp-content/themes/bones-master/library/images/next.png);
  display: none;
}

/* line 7, ../scss/_lightbox.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 18, ../scss/_lightbox.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

/* line 28, ../scss/_lightbox.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 39, ../scss/_lightbox.scss */
.lightbox a img {
  border: none;
}

/* line 43, ../scss/_lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 57, ../scss/_lightbox.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 63, ../scss/_lightbox.scss */
.lb-container {
  padding: 4px;
}

/* line 67, ../scss/_lightbox.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 77, ../scss/_lightbox.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(/wp-content/themes/bones-master/library/images/loading.gif) no-repeat;
}

/* line 85, ../scss/_lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 94, ../scss/_lightbox.scss */
.lb-container > .nav {
  left: 0;
}

/* line 98, ../scss/_lightbox.scss */
.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

/* line 103, ../scss/_lightbox.scss */
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 109, ../scss/_lightbox.scss */
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(/wp-content/themes/bones-master/library/images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 122, ../scss/_lightbox.scss */
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 127, ../scss/_lightbox.scss */
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(/wp-content/themes/bones-master/library/images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 140, ../scss/_lightbox.scss */
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 145, ../scss/_lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 158, ../scss/_lightbox.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 164, ../scss/_lightbox.scss */
.lb-data {
  padding: 0 4px;
  color: #ccc;
}

/* line 169, ../scss/_lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 176, ../scss/_lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* line 182, ../scss/_lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

/* line 190, ../scss/_lightbox.scss */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(/wp-content/themes/bones-master/library/images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 206, ../scss/_lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/*********************
IMPORTING MODULES
Modules are reusable blocks or elements we use throughout the project.
We can break them up as much as we want or just keep them all in one.
I mean, you can do whatever you want. The world is your oyster. Unless
you hate oysters, then the world is your peanut butter & jelly sandwich.
*********************/
/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  /* line 13, ../scss/partials/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 21, ../scss/partials/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  /* line 26, ../scss/partials/_print.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  /* line 31, ../scss/partials/_print.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 36, ../scss/partials/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 42, ../scss/partials/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 47, ../scss/partials/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 51, ../scss/partials/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 55, ../scss/partials/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 63, ../scss/partials/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 68, ../scss/partials/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 74, ../scss/partials/_print.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
